<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Clipboard</title>
 <script type="text/javascript">
var timeout = setTimeout("location.reload(true);",<%=refresh_rate %>);
  function resetTimeout() {
    clearTimeout(timeout);
    timeout = setTimeout("location.reload(true);",<%=refresh_rate %>);
  }
</script>
</head>
<body>
  <div>
    <p>
    <%=clipboard_string %>
    </p>
  </div>
</body>
</html>
